<html>
	<head>
		<title>STOKA Cloud</title>
		<link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/bower_components/patternfly/dist/css/patternfly.css">
		<link rel="stylesheet" type="text/css" href="/static/bower_components/patternfly/dist/css/patternfly-additions.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
		
		<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/static/bower_components/patternfly/dist/js/patternfly.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

	</head>
	<body class="cards-pf">
		
		<nav class="navbar navbar-default navbar-pf" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					STOKA <strong>CLOUD</strong>
				</a>
			</div>
			<ul class="nav navbar-nav navbar-primary">
				<li class="{%block first_active%} {%endblock%}">
					<a href="/">Strategy</a>
				</li>
				<li class="{%block second_active%} {%endblock%}">
					<a href="/categorization">Categorization</a>
				</li>
				<li class="{%block third_active%} {%endblock%}">
					<a href="/results">Result</a>
				</li>
				<!--<li class="{%block forth_active%} {%endblock%}">
					<a href="/processors">Processors</a>
				</li>-->
			</ul>
		</nav>

		{% if messages %}
			{% for message in messages %}
			<div {% if message.tags %} class="alert-{{ message.tags }} alert" {% endif %}>
				{% if message.tags == 'danger' %}<span class="pficon pficon-error-circle-o"></span>{% endif %}
				{% if message.tags == 'success' %}<span class="pficon pficon-ok"></span>{% endif %}
				{{ message }}</div>
			{% endfor %}
		{% endif %}

		{% block content %}{% endblock %}
	</body>
</html>